<div class="container mt-4">
    <div class="row m-auto" *ngIf="actividad">
        <h1 class="h3 my-3 text-center">{{actividad.actividad}}</h1>
        <div class="card col-lg-8 m-auto">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <p class="m-0"><strong>Organización:</strong> {{actividad.creadoPor.fullName}}</p>
                    <p class="m-0"><strong>Inicio:</strong> {{actividad.inicio | date}}</p>
                    <p class="m-0"><strong>Situación: </strong> <span
                            class="badge {{getSituacionClass(actividad.situacion)}}">{{actividad.situacion |
                            titlecase}}</span></p>
                </div>

                <!-- Si esta autenticado y es voluntario -->
                <div class="card-tools d-flex gap-2" *ngIf="this.isLoggedIn() && !isOrganization()">
                    <button *ngIf="isInclude()" (click)="suscribe('desuscribirse de')" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i> Salir de la actividad</button>
                    <button *ngIf="!isInclude()" (click)="suscribe('suscribirse a')"  class="btn btn-sm btn-success"><i class="bi bi-check-square"></i> Entrar como
                        voluntario</button>
                </div>

                <!-- Si esta autenticado y es organizacion -->
                <div class="card-tools d-flex gap-2" *ngIf="this.isLoggedIn() && isOrganization()">
                    <!-- Si es el creador de la actividad -->
                    <button *ngIf="actividad.creadoPor.username === getCurrentUser()" class="btn btn-sm btn-warning"><i
                            class="bi bi-pencil"></i> Alterar actividad</button>
                </div>
                <!-- Si no esta autenticado -->
                <div class="card-tools d-flex gap-2" *ngIf="!this.isLoggedIn()">
                    <button class="btn btn-sm btn-success"><i class="bi bi-check-square"></i> Entrar como
                        voluntario</button>
                </div>
            </div>
            <div class="card-body" [innerHTML]="transform(actividad.detalle)">
            </div>
            <div class="card-footer" *ngIf="this.isLoggedIn() | async">
                <p><strong>Voluntarios:</strong></p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let user of actividad.voluntarios">
                        {{user.fullName}}
                        <i *ngIf="this.isLoggedIn() && actividad.creadoPor.username === getCurrentUser()" class="bi bi-x-circle text-danger link link-animation" title="Remover voluntario"></i>
                    </li>
                    <li *ngIf="actividad.voluntarios.length===0" class="list-group-item text-center">No hay voluntarios
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>