<div class="container mt-4">
    <div class="row m-auto">
        <h1 class="h3 my-3 text-center">Limpieza de las calles principales</h1>
        <div class="card col-lg-8 m-auto">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <p class="m-0"><strong>Inicio:</strong> 15/01/2022</p>
                    <p class="m-0"><strong>Situación: </strong> <span class="badge bg-success">Pendiente</span></p>
                </div>
                <div class="card-tools d-flex gap-2">
                    <button class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i> Salir de la actividad</button>
                    <button class="btn btn-sm btn-success"><i class="bi bi-check-square"></i> Entrar como voluntario</button>
                    <button class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i> Alterar actividad</button>
                </div>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea asperiores porro doloremque, aspernatur molestias deserunt sed minus nam quo natus beatae id facilis, fugiat ad atque quasi, quibusdam officiis sequi?
            </div>
            <div class="card-footer">
                <p><strong>Voluntarios:</strong></p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A list item
                      <i class="bi bi-x-circle text-danger link link-animation" title="Remover voluntario"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A second list item
                      <i class="bi bi-x-circle text-danger link link-animation" title="Remover voluntario"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A third list item
                      <i class="bi bi-x-circle text-danger link link-animation" title="Remover voluntario"></i>
                    </li>
                  </ul>
            </div>
        </div>
    </div>

</div>