<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4><i class="bi bi-people"></i> Registarse en la plataforma</h4>
                </div>
                <form>
                    <div class="card-body">
                        <div class="mb-2">
                            <label for="" class="form-label">Nombre Completo:</label>
                            <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                placeholder="" required>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label">Correo:</label>
                            <input type="email" class="form-control" name="" id="" aria-describedby="helpId"
                                placeholder="" required>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label">Username</label>
                            <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                placeholder="" required>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label">Password</label>
                            <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                placeholder="" required>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2 d-flex justify-content-between">
                            <label for="" class="form-label align-self-start">Tipo de cuenta: </label>
                            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                                autocomplete="off" checked>
                            <label class="btn btn-outline-success" for="success-outlined">Cuenta Voluntario</label>

                            <input type="radio" class="btn-check" name="options-outlined" id="info-outlined"
                                autocomplete="off">
                            <label class="btn btn-outline-info" for="info-outlined">Cuenta Organización</label>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button class="btn btn-lg btn-outline-primary">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>