<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4><i class="bi bi-people"></i> Registarse en la plataforma</h4>
                </div>
                <form [formGroup]="userForm" (ngSubmit)="onCreateOrUpdate()">
                    <div class="card-body">
                        <div>
                            <label for="fullName" class="form-label">Nombre Completo:</label>
                            <input formControlName="fullName" type="text" class="form-control" name="fullName"
                                id="fullName" aria-describedby="fullName" placeholder="Digite su nombre completo"
                                autocomplete="off" required>
                            <small class="form-text text-danger" style="visibility: hidden"
                                [ngClass]="{ 'visible': userForm.controls['fullName'].invalid && userForm.controls['fullName'].touched}">
                                {{getErrorMessage(userForm.controls['fullName'])}}
                            </small>
                        </div>
                        <div>
                            <label for="email" class="form-label">Correo:</label>
                            <input formControlName="email" type="email" class="form-control" name="email" id="email"
                                aria-describedby="email" placeholder="Digite un correo válido" autocomplete="off"
                                required>
                            <small class="form-text text-danger" style="visibility: hidden"
                                [ngClass]="{ 'visible': userForm.controls['email'].invalid && userForm.controls['email'].touched}">
                                {{getErrorMessage(userForm.controls['email'])}}
                            </small>
                        </div>
                        <div>
                            <label for="ciudad" class="form-label">Ciudad:</label>
                            <input formControlName="ciudad" type="text" class="form-control" name="ciudad"
                                id="ciudad" aria-describedby="ciudad" placeholder="Digite el nombre de su ciudad"
                                autocomplete="off" required>
                            <small class="form-text text-danger" style="visibility: hidden"
                                [ngClass]="{ 'visible': userForm.controls['ciudad'].invalid && userForm.controls['ciudad'].touched}">
                                {{getErrorMessage(userForm.controls['fullName'])}}
                            </small>
                        </div>
                        <div>
                            <label for="username" class="form-label">Username</label>
                            <input formControlName="username" type="text" class="form-control" name="username"
                                id="username" aria-describedby="username" autocomplete="off"
                                placeholder="Digite un username, apenas letras minúsculas o mayúsculas sin espacio"
                                required>
                            <small class="form-text text-danger" style="visibility: hidden"
                                [ngClass]="{ 'visible': userForm.controls['username'].invalid && userForm.controls['username'].touched}">
                                {{getErrorMessage(userForm.controls['username'])}}
                            </small>
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control" name="password"
                                id="password" aria-describedby="password"
                                placeholder="Digite un contraseña de mínimo 6 caracteres" required>
                            <small class="form-text text-danger" style="visibility: hidden"
                                [ngClass]="{ 'visible': userForm.controls['password'].invalid && userForm.controls['password'].touched}">
                                {{getErrorMessage(userForm.controls['password'])}}
                            </small>
                        </div>
                        <div class="d-flex justify-content-between">
                            <label for="" class="form-label align-self-start">Tipo de cuenta: </label>

                            <input formControlName="userTipo" type="radio" class="btn-check" name="userTipo"
                                autocomplete="off" value="VOLUNTARIO" id="VOLUNTARIO">
                            <label class="btn btn-outline-success" for="VOLUNTARIO">Voluntario</label>

                            <input formControlName="userTipo" type="radio" class="btn-check" name="userTipo"
                                autocomplete="off" value="ORGANIZACION" id="ORGANIZACION">
                            <label class="btn btn-outline-danger" for="ORGANIZACION">Organización</label>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button class="btn btn-lg btn-outline-primary"
                            [disabled]="userForm.invalid || loading">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>