<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4><i class="bi bi-calendar-event"></i> Registar una actividad</h4>
                </div>
                <form>
                    <div class="card-body">
                        <div class="mb-2">
                            <label for="" class="form-label">Nombre de la actividad:</label>
                            <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                                placeholder="" required>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label">Detalles de la actividad:</label>
                            <textarea contenteditable="true" spellcheck="false" dropzone="true" class="form-control"
                                name="output" id="output" aria-describedby="output" placeholder=""></textarea>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label">Inicio de la actividad:</label>
                            <input type="date" class="form-control" name="" id="" aria-describedby="helpId"
                                placeholder="" required>
                            <small *ngIf="false" id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="mb-2">
                            <label for="" class="form-label align-self-start">Situación: </label>
                            <div class="d-flex justify-content-center gap-2">
                                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                                    autocomplete="off" checked>
                                <label class="btn btn-outline-success" for="success-outlined">Pendiente</label>

                                <input type="radio" class="btn-check" name="options-outlined" id="warning-outlined"
                                    autocomplete="off">
                                <label class="btn btn-outline-warning" for="warning-outlined">Finalizada</label>

                                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                                    autocomplete="off">
                                <label class="btn btn-outline-danger" for="danger-outlined">Cancelada</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button class="btn btn-lg btn-outline-primary">Crear actividad</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>