/* You can add global styles to this file, and also import other style files */
.link {
  cursor: pointer;
}
.link-focus:hover {
  font-weight: bold !important;
}
.link-animation:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.dropdown-item {
  color: rgb(29, 29, 29) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
