<div class="container mt-4">
    <div class="main-body">
        <div class="row" *ngIf="profile">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://robohash.org/{{profile?.username}}" alt="Admin"
                                class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>{{profile.fullName}}</h4>
                                <p class="text-secondary mb-1"><strong>@{{profile.username}}</strong> </p>
                                <p class="text-secondary mb-1">{{profile.ciudad}}</p>
                                <p class="badge bg-primary">{{profile.userTipo}}</p>
                            </div>
                        </div>
                        <hr class="my-4">
                        <h4>Actividades</h4>
                        <ul class="list-group list-group-flush" *ngIf="!loading">
                            <li *ngFor="let actividad of actividades"
                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <span>
                                    <h4 class="m-0">{{actividad.creadoPor.fullName}}</h4>
                                    <h6 class="m-0 link link-focus" [routerLink]="['/actividad/'+actividad.id+'/show']">
                                        {{actividad.actividad}}</h6>
                                </span>
                                <span class="badge {{getSituacionClass(actividad.situacion)}}">{{actividad.situacion | titlecase}}</span>
                            </li>
                        </ul>
                        <h4 *ngIf="actividades.length===0" class="text-muted">
                            <span *ngIf="profile?.userTipo === 'VOLUNTARIO'; else org">No tienes actividades suscritas</span>
                            <ng-template #org>Aun no has creado ninguna actividad</ng-template>
                        </h4>
                        <div class="d-flex justify-content-center" *ngIf="loading">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form *ngIf="profileForm" [formGroup]="profileForm" (submit)="onUpdateProfile()">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Nombre</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input formControlName="fullName" name="fullName" type="text" class="form-control"
                                        required autocomplete="off">
                                    <small class="form-text text-danger" style="visibility: hidden"
                                        [ngClass]="{ 'visible': profileForm.controls['fullName'].invalid && profileForm.controls['fullName'].touched}">
                                        {{getErrorMessage(profileForm.controls['fullName'])}}
                                    </small>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Correo</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input formControlName="email" name="email" type="email" class="form-control"
                                        required autocomplete="off">
                                    <small class="form-text text-danger" style="visibility: hidden"
                                        [ngClass]="{ 'visible': profileForm.controls['email'].invalid && profileForm.controls['email'].touched}">
                                        {{getErrorMessage(profileForm.controls['email'])}}
                                    </small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Ciudad</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input formControlName="ciudad" name="ciudad" type="text" class="form-control"
                                        required autocomplete="off">
                                    <small class="form-text text-danger" style="visibility: hidden"
                                        [ngClass]="{ 'visible': profileForm.controls['ciudad'].invalid && profileForm.controls['ciudad'].touched}">
                                        {{getErrorMessage(profileForm.controls['ciudad'])}}
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input [disabled]="profileForm.invalid" type="submit" class="btn btn-primary px-4"
                                        value="Salvar alteraciones">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form *ngIf="passwordForm" [formGroup]="passwordForm" (submit)="onUpdatePassword()">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Contraseña actual</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input formControlName="password" name="password" type="password"
                                        class="form-control" placeholder="Contraseña actual" required>
                                    <small class="form-text text-danger" style="visibility: hidden"
                                        [ngClass]="{ 'visible': passwordForm.controls['password'].invalid && passwordForm.controls['password'].touched}">
                                        {{getErrorMessage(passwordForm.controls['password'])}}
                                    </small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Nueva contraseña</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input formControlName="newpassword" name="newpassword" type="password"
                                        class="form-control" placeholder="Nueva contraseña" required>
                                    <small class="form-text text-danger" style="visibility: hidden"
                                        [ngClass]="{ 'visible': passwordForm.controls['newpassword'].invalid && passwordForm.controls['newpassword'].touched}">
                                        {{getErrorMessage(passwordForm.controls['newpassword'])}}
                                    </small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Repite la contraseña</h4>
                                </div>
                                <div class="col-sm-9 text-secondary position-relative">
                                    <input formControlName="repeatpassword" name="repeatpassword" type="password"
                                        class="form-control" placeholder="Repite la contraseña" required>
                                    <small class="form-text text-danger" style="visibility: hidden"
                                        [ngClass]="{ 'visible': passwordForm.controls['repeatpassword'].invalid && passwordForm.controls['repeatpassword'].touched}">
                                        {{getErrorMessage(passwordForm.controls['repeatpassword'])}}
                                    </small>
                                    <small class="form-text text-danger position-absolute start-0 px-3"
                                        *ngIf="passwordForm.hasError('notSame') && passwordForm.controls['repeatpassword'].valid">
                                        Las contraseñas no coincide
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input [disabled]="passwordForm.invalid" type="submit" class="btn btn-primary px-4"
                                        value="Alterar contraseña">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>